/* body {
  padding: 30px;
} */

.contact-img {
  border-radius: 50% !important;
  height: 10rem;
  width: 10rem !important;
}

.contact-card {
  height: 350px;
}

/* @media only screen and (max-width: 600px) {
  .contact-card {
    height: 550px;
  }
} */

.contact-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
